<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>
<br>
<a href="/admin">к списку пользователей</a>

<div>
    <h1>Новый пользователь был успешно добавлен!</h1>
    <p>
        <strong>id пользователя:</strong> <span th:text="${newPerson.getId()}"></span>
    </p>
    <p>
        <strong>Имя:</strong> <span th:text="${newPerson.getPersonName()}"></span>
    </p>

    <p>
        <strong>Уровень доступа:</strong> <span th:text="${newPerson.getRoles()}"></span>
    </p>

    <p>
        <strong>Пароль:</strong> <span th:text="${newPerson.getPassword()}"></span>
    </p>

</div>
</body>
</html>