<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>

<style>
    body {
        background-image: url('https://arcademy.ir/storage/uploads/4/1399-06/springsecurity-course-thumbnail2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<body>
<h1>__Spring_Boot_Security__</h1>
<h2>автор:Макаров Евгений</h2>
<h2>email:makaroff.zhenia2011@yandex.ru</h2>
<a href="/user">Войти в профиль</a>
</body>

</html>

